@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('./assets/quiz-set-in-doodle-style-illustration-icon-question-symbol-for-print-and-design-quiz-and-exam-concept-isolated-element-on-black-background-collection-of-sign-for-school-and-event-vector.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
  }
  
  .glass {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(45, 42, 46, 0.3); /* Adjusted for more transparency */
    border-radius: 12px;
    border: 1px solid rgba(20, 86, 220, 0.3);
    padding: 20px;
    box-shadow: 0px 12px 15px 16px rgba(33, 35, 33, 0.642);
  }
  .gradient-text {
    background: linear-gradient(150deg, rgb(255, 96, 120) 1%, rgb(70, 255, 227) 30%, rgba(0,212,255,1) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  